<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AcquiringSDK" type="Worldline.Acquiring.Sdk.CommunicatorConfigurationSection, Worldline.Acquiring.Sdk" />
	</configSections>
	<AcquiringSDK connectTimeout="-1" socketTimeout="300000" maxConnections="1" authorizationType="OAuth2" oauth2TokenUri="https://sso.preprod.acquiring.worldline-solutions.com/auth/realms/acquiring_api/protocol/openid-acquiring/token" integrator="Worldline">
		<apiEndpoint host="api.preprod.acquiring.worldline-solutions.com" scheme="https" />
	</AcquiringSDK>
</configuration>
